*~
*.o
*.bak
core
vgcore.*
autom4te.cache
autoscan.log
config.guess
config.log
config.status
config.sub
configure.scan
depcomp
.deps
install-sh
libtool
ltmain.sh
Makefile
missing
.libs
stamp-h1
testjrlutil
testlog2int
testunitsafe
cursorlist
