*~
*.o
*.bak
*.log
*.trs

core
core.*
vgcore.*

.deps
.libs
autom4te.cache
autoscan.log
compile
config.guess
config.log
config.status
config.sub
configure.scan
config.h
depcomp
install-sh
libtool
ltmain.sh
Makefile
missing
stamp-h1
test-driver

testboostusability
testiterablebufferset
testjrlalgorithm
testjrlgeom
testjrlmetaprogram
testjrlutil
testlog2int
testlogging
teststlusability
testunitsafe

cursorlist

units_usability
