*~
*.o
*.bak
*.log
*.trs

core
core.*
vgcore.*

.deps
.libs
autom4te.cache
autoscan.log
compile
config.guess
config.log
config.status
config.sub
configure.scan
config.h
depcomp
install-sh
libtool
ltmain.sh
Makefile
missing
stamp-h1
test-driver

test_boost_usability
test_iterable_buffer_set
test_jrl_algorithm
test_jrl_geom
test_jrl_macro
test_jrl_metaprogram
test_jrl_util
test_log2_int
test_logging
test_stl_usability
test_unitsafe

cursorlist

units_usability
/test_stack_allocator
